##### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
# Q1.Answer:
# databse is a collection of structured and organized data 
# SQL --> the data is stored in tabluear format as tables from rows and columns 
# NOSQL --> means not only SQL means we can also use non structured data like images and videos

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
# Q2.Answer:

# DDL --> stands for data definiation language and it uses commands like CREATE, DROP, ALTER, TRUNCATE
# CREATE -- > used to create table or database --> CREATE DATABASE test;
# DROP --> used to drop table or database and drop also the structure of this object --> DROP TABLE table_name;
# ALTER --> used to alter table --> ALTER TABLE table_name - ADD COLUMN column_name;
# TRUNCATE --> used to remove all the data inside an object but the object structure still exists --> TRUNCATE TABLE table_name

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [3]:
# Q3.Answer:

# DML --> stands for data manipulation language and it uses commands like INSERT, UPDATE, DELETE 
# INSERT --> used to insert values in tables --> INSERT INTO table_name VALUES()
# UPDATE --> used to update certain value in a table --> UPDATE table_name - set col1 = value - WHERE CONDITION
# DELETE --> used to delete values from a table --> DELETE FROM table_name WHERE CONDITION

##### Q4. What is DQL? Explain SELECT with an example.

In [4]:
# Q4.Answer:

# DQL --> stands for data query language and it uses SELECT command to retrieve data 
# SELECT --> SELECT * FROM table_name;

##### Q5. Explain Primary Key and Foreign Key.

In [5]:
# Q5.Answer:

# primary key --> is a unique identifier for each row in the table
# foreign key --> is a key that is a primary key in a table and a foreign key in another table and used to make relations between different tables

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# Q6.Answer:

# code to connect mysql 
import mysql.connector
conn = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
# cursor --> we can say it's a container that holds the query that we need to execute 
# cursor code in python 
cursor = conn.cursor()
# excecute --> is a cursor method to execute the query in the cursor and return the result 
# execute code in python
cursor.execute("SELECT * FROM test.test_table")
conn.close()

##### Q7. Give the order of execution of SQL clauses in an SQL query.

In [6]:
# Q7.Answer:

# the order of execution is :
# SELECT --> FROM --> WHERE --> GROUP BY --> HAVING --> ORDER BY