##### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to useMongoDB over SQL databases?

In [6]:
# Q1.Answer:

# MongoDB is not only sql databse used to deal with uunstructured data
# non-reltional databases are databases that do not follow the relational model means not exist in the tabular format
# it is preferred to use MongoDB if the Data not consistent or does not follow a specific pattern but if the the data can stored 
# in the table format it is preferred to use SQL database

##### Q2. State and Explain the features of MongoDB.

In [7]:
# Q2.Answer:

# from my point of view the features are: 
# MongoDB have better load balancing as it use culsters
# with mongo we can store un structured data like images, videos, pdf , ... 
# i realize that the queries is so fast with MongoDB

##### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [10]:
# Q3.Answer: 
import pymongo
client = pymongo.MongoClient("mongodb+srv://Ahmed1995:ahmedselim@cluster0.fueswnp.mongodb.net/?retryWrites=true&w=majority")

In [11]:
client

MongoClient(host=['ac-omvfzse-shard-00-01.fueswnp.mongodb.net:27017', 'ac-omvfzse-shard-00-00.fueswnp.mongodb.net:27017', 'ac-omvfzse-shard-00-02.fueswnp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6to2av-shard-0', tls=True)

In [12]:
myDB = client['assignment']

In [13]:
myCollection = myDB["coll1"]

###### Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [14]:
# Q4.Answer:

data = {
    "name" : "Ahmed Selim",
    "age" : 28
}

In [15]:
myCollection.insert_one(data)

In [17]:
data2 = [
    {"name": "mahmoud", "age": 24}, 
    {"name": "sanaa", "age": 20},
    {"name": "zaki", "age": 18},
    {"name": "alyaa", "age": 18},
    {"name": "selim", "age": 54},
    {"name": "fathia", "age": 48},
    {"name": "abdo", "age": 6},
    {"name": "samar", "age": 32}
]

In [18]:
myCollection.insert_many(data2)

In [19]:
myCollection.find_one()

{'_id': ObjectId('641463ecebbaa91b5e0c9572'), 'name': 'Ahmed Selim', 'age': 28}

In [20]:
for i in myCollection.find():
    print(i)

{'_id': ObjectId('641463ecebbaa91b5e0c9572'), 'name': 'Ahmed Selim', 'age': 28}
{'_id': ObjectId('6414646debbaa91b5e0c9573'), 'name': 'mahmoud', 'age': 24}
{'_id': ObjectId('6414646debbaa91b5e0c9574'), 'name': 'sanaa', 'age': 20}
{'_id': ObjectId('6414646debbaa91b5e0c9575'), 'name': 'zaki', 'age': 18}
{'_id': ObjectId('6414646debbaa91b5e0c9576'), 'name': 'alyaa', 'age': 18}
{'_id': ObjectId('6414646debbaa91b5e0c9577'), 'name': 'selim', 'age': 54}
{'_id': ObjectId('6414646debbaa91b5e0c9578'), 'name': 'fathia', 'age': 48}
{'_id': ObjectId('6414646debbaa91b5e0c9579'), 'name': 'abdo', 'age': 6}
{'_id': ObjectId('6414646debbaa91b5e0c957a'), 'name': 'samar', 'age': 32}

##### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [21]:
# we use find() method in the collection level to get all the documents and it's iterable so we use loop to print all the results
for i in myCollection.find():
    print(i)

{'_id': ObjectId('641463ecebbaa91b5e0c9572'), 'name': 'Ahmed Selim', 'age': 28}
{'_id': ObjectId('6414646debbaa91b5e0c9573'), 'name': 'mahmoud', 'age': 24}
{'_id': ObjectId('6414646debbaa91b5e0c9574'), 'name': 'sanaa', 'age': 20}
{'_id': ObjectId('6414646debbaa91b5e0c9575'), 'name': 'zaki', 'age': 18}
{'_id': ObjectId('6414646debbaa91b5e0c9576'), 'name': 'alyaa', 'age': 18}
{'_id': ObjectId('6414646debbaa91b5e0c9577'), 'name': 'selim', 'age': 54}
{'_id': ObjectId('6414646debbaa91b5e0c9578'), 'name': 'fathia', 'age': 48}
{'_id': ObjectId('6414646debbaa91b5e0c9579'), 'name': 'abdo', 'age': 6}
{'_id': ObjectId('6414646debbaa91b5e0c957a'), 'name': 'samar', 'age': 32}

##### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [25]:
# Q6.Answer: 
# sort() used to sort thr result of a collection find() method
for i in myCollection.find().sort("age"):
    print(i)
# by default it sort ascending to sort descending us parameter -1 --> sort("age", -1)

{'_id': ObjectId('6414646debbaa91b5e0c9579'), 'name': 'abdo', 'age': 6}
{'_id': ObjectId('6414646debbaa91b5e0c9575'), 'name': 'zaki', 'age': 18}
{'_id': ObjectId('6414646debbaa91b5e0c9576'), 'name': 'alyaa', 'age': 18}
{'_id': ObjectId('6414646debbaa91b5e0c9574'), 'name': 'sanaa', 'age': 20}
{'_id': ObjectId('6414646debbaa91b5e0c9573'), 'name': 'mahmoud', 'age': 24}
{'_id': ObjectId('641463ecebbaa91b5e0c9572'), 'name': 'Ahmed Selim', 'age': 28}
{'_id': ObjectId('6414646debbaa91b5e0c957a'), 'name': 'samar', 'age': 32}
{'_id': ObjectId('6414646debbaa91b5e0c9578'), 'name': 'fathia', 'age': 48}
{'_id': ObjectId('6414646debbaa91b5e0c9577'), 'name': 'selim', 'age': 54}

##### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [26]:
#Q7.Answer: 
# delete_one --> used to delete one document : delete_many --> used to delete multiple documents

myCollection.delete_one({"name": "abdo"})

In [27]:
myCollection.find_one({"name":"abdo"})

In [28]:
# drop --> used to drop the entire collection 
myCollection.drop()

In [29]:
for i in myCollection.find():
    print(i)